/*GRID*/

.col {
    background-color: white;
}

#First_section {
    margin: 30px 0px;
}

#First_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;

}

#first_section .col:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#first_section .col:nth-child(2) {
    grid-column: 3 / 5;

}

.tekst {
    margin: 2rem 2rem -1rem 2rem;
}


/*MAPS*/
iframe {
    width: 100%;
    margin-bottom: 2rem;
    frameborder: 0;
}

/*Forms css*/

.form-felt-inherit {
    display: inline-block
}

.form-felt,
.form-felt-inherit {
    margin-bottom: 1rem;
    margin-left: 2rem;

}

.col2 {
    margin-left: 1rem;
    margin-right: 1rem;
}

label {
    display: grid;
    justify-items: start;
    font-weight: 600;
}

input {
    display: block;
    font-size: 1.1rem;
    padding: .5rem;
    border-radius: 4px;
    border: 1;
}

.button {
    padding: .75rem 1rem;
    margin-top: 1.1rem;
    border: 1;
    border-radius: 60px;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.button:hover {
    background-image: linear-gradient(#f47cb8, #ef3d96);
    color: #fff;
}

/* Kontakt links */

a.link:link {
    font-family: arial, sans-serif;
    color: #000000;
    font-size: 1rem;
    text-decoration: none;
    background: white;
    padding: 0px 25px;
    text-transform: none;
}

/*visited link*/
a.link:visited {
    font-family: arial, sans-serif;
    color: #000000;
    font-size: 1rem;
    text-decoration: none;
    background: white;
    text-transform: none;
}

a.link:hover {
    border: none;

}

.icon {
    width: 12px;
}


.facebooklink {
    width: 10%;
    float: right;

}

/*MOBIL MEDIAQUERY*/
@media only screen and (max-width:920px) {
    #First_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }

    #Second_section .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    section {
        padding: 0px;
    }

    h1 {
        font-size: 1rem;
    }

    h2 {
        font-size: 0.9rem;
    }

    .col2 {
        margin-left: 2rem;
    }

    #First_section {
        margin: 0px 0px;
    }

    footer {
        margin-top: 20px;
    }

    .icon2 {
        margin-left: -25px;
    }


    .icon {
        width: 12px;
        margin-left: -25px;
    }

    .kontakttekst {
        margin-left: -25px;
    }

}
